.card{
    display: flex;
    background-color: white;
    flex-direction: column;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 200px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.avatar{
width: 150px;
height: 150px;
border-radius: 50%;
margin-top: 30px;
}
.networks{
    background-color: #ccc;
    padding: 0;
}
.networks_list{
    display: flex;
    margin: 0 auto;
    padding: 0;
    justify-content: center;

}
.networks_item{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    border: 1px solid #868282;
    padding: 0 6px;
    border-radius: 5%;
}
.quantity{
    margin: 0 auto;
    padding: 4px 0;
}
#root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e3e2e2;
}

